@using TSPVisualizer.Algorithms.NearestNeighbor;

@*<div class="form-group">
    <label for="selectHeuristics">Heuristic</label>
    <select class="form-control" name="heuristics" id="selectHeuristics" @bind="Algorithm">
        <option value="NN" @onselect="@(e => Algorithm)">Nearest Neighbor</option>
    </select>
</div>*@