<div class="row">
    <div class="col">
        <div class="form-group">
            <label for="maxWidth">Max. X</label>
            <input type="number" id="maxWidth" class="form-control" @bind="MaxX">
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label for="maxHeight">Max. Y</label>
            <input type="number" id="maxHeight" class="form-control" @bind="MaxY">
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label for="maxNodes">Nodes</label>
            <input type="number" id="maxNodes" class="form-control" @bind="NodeCount">
        </div>
    </div>
</div>